body {
  /*Отступ*/
 margin:0;
  /*Шрифт*/
  font-family: 'Montserrat', sans-serif;
  /*Размер текста*/
 font-size: 15px;
 /*Межстрочный отстсуп*/
 line-height: 1.6;
 color: rgb(0, 0, 0);
 
}
html
{
scroll-behavior: smooth;
}

*,
*:before
*:after 

{
/*Размер блока*/
box-sizing: border-box;
}
/*Всем заголовкам задает margin 0*/
h1, h2, h3, h4, h5, h6
{
margin: 0;
}
/*контейнер*/
.container 
{
   /*Ширина*/
 width: 100%;
 max-width: 1200px;
  /*Выравнивает по центру*/
 margin: 0 auto;
}

.header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s ease; /* Добавляем анимацию для плавного изменения top */
  background-color: #fff; /* Задаем цвет фона шапки */
  z-index: 1000; /* Устанавливаем высокий z-index, чтобы шапка находилась поверх других элементов */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  width: 100%;
  background-color: #ef7d1a;
}

.header.hidden {
  top: -100px; /* Выдвигаем шапку за пределы верхней части экрана */
}
/* Растягивает эллементы по всей странице
лого слева а кнопки справа*/
.header__inner
{
  /* Добавляет границу отступа вокруг элемента(сверху)*/
  padding-top: 5px;
  padding-bottom: 5px;
  /* Дает эллементам гибкость*/
  display: flex;
  /* Определяет пространство между и вокруг эллементов*/
  justify-content: space-between;
  /* Выравнивает как justify но сверху и снизу*/
  align-items: center;
}

/* Класс для лого*/
.header__logo
{
  text-decoration: none;
  font-size: 30px;
  /* Насыщенность шрифта*/
  font-weight: 900;
  color: #fff;
}
/* Класс для навигации*/
.nav
{
  font-size: 14px;
  /* Шрифт capslock*/
  text-transform: uppercase;
  font-weight: 900;
}
/* Класс для кнопок навигации*/
.nav__link 
{
  /* Назначает свойства дисплею*/
  display: inline-block;
  /* Вертикально выравнивает элементы внутри класса*/
  vertical-align: top;
  /* отступ между эллементами*/
  margin: 0 15px;
  /* Положение эллемента устанавливается в зависимости
  от исходного места*/
  position: relative;
 color: #fff;
 /* Убирает подчеркивание ссылок */
 text-decoration: none;
 /* Длительность подсвечивания иконок*/
 transition: color  .1s linear;
}
/* класс при наводе мышкой на навигацию*/
.nav__link::after
{
/* Генерирует содержимое*/
content: "";
/* Делает элемент блочным (увеличивает зону рааботы 
навода ссылки*/
display: block;
width: 100%;
height: 3px;
/*Убирает автоматическое подсвечивание полос под кнопками*/
display: none;

background-color: #fce38a;
 /*элемент не виден для других*/
position: absolute;
top: 100%;
left: 0;
/*Устанавливет слой обьекта*/
z-index: 1;
/*Плавный переход*/
transition: opacity .1s linear;


}
/* Добававляет изменение цвета при наведении на кнопку*/
.nav__link:hover
{
color: #fce38a;
}
.nav__link:hover:after
{
  display: block;
}
.section
{
  padding: 80px 0px;
  background-color:rgb(245, 239, 220);
}

/* .section__header
{
  width: 100%;
  
  max-width: 1200px;
  
  margin: 0 auto;
  margin-bottom: 40px ;
} */


.section__title
{
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  /*Толщина текста*/
  font-weight: 600;
  color: #333;
  text-align: center;
  /*Капс*/
  text-transform: uppercase;
}
.section__title:after
{
  /*Создает полосочку*/
  content: "";
  /*Блочную*/
  display: block;
  width: 60px;
  height: 3px;
  margin: 25px auto 0px;

  background-color: #f38181;
}  

.contact-info {
color: rgb(58, 58, 58);
font-size: 30px;
text-transform: uppercase;
font-weight: 600;
}

.contact-page{
  
  margin-left: 50px;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-page .contact-form {
  text-align: end;
}


.contact-info, .contact-form{
  flex: 1;
}

.contact-form {
  padding-left: 100px;
}

.item{
  margin-top: 40px;
  margin-bottom: 24px;
  font-size: 16px;
  color: #322;
}

.icon{
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #222;
  border-radius: 50%;
  margin-right: 16px;
}


.textb{
  width: calc(100%);
  height: 50px;
  padding: 12px;
  background-color: #222;
  border: none;
  color: #fff;
  margin-bottom: 20px;
  border-radius: 13px;
}

textarea{
  font-size: 15px;
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  padding: 12px;
  background-color: #222;
  border: none;
  color: #fff;
  margin-bottom: 20px;
  border-radius: 13px;
}

textarea::placeholder {
  padding: 2px; /* Задаем отступ для placeholder */
}


form button {
  width: 120px;
  height: 40px;
  background-color: #ef7d1a;
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #ef7d1a;
  transition: .3s linear;
  border-radius: 13px;
  
}

.btn:hover{
  background-color: transparent;
  color: #ef7d1a;
}

.delivery1
{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
}

.delivery2
{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  color:#ef7d1a;
  margin: auto;
}

.delivery_end {
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  color:#ef7d1a;
  margin: auto;
  margin-bottom: 30px;
}

.block-left
{
padding-top: 60px;
font-family: 'Montserrat', sans-serif;
color: #333;
padding-top: 40px;
font-weight: bold;
font-size: large;
text-transform: uppercase;
text-align: left;
width:50%;
height:500px;

overflow:auto;
float:left;
}

.block-right
{
width:50%;
height:458px;
overflow:auto;
border-radius: 10px;
transition: box-shadow 0.3s ease; /* Добавляем плавное изменение тени */
}

.block-right:hover {
box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Увеличиваем тень при наведении */
}


.fff::before
 {
     content: "";
     display: block;
     width: 950px;
     height: 3px;
     margin: 25px auto 0px;
 
     background-color: #f38181;
    margin-bottom: 100px;
     
 }  
 .fff
{
  text-align: center;
  
}
.asasas
{
  font-size: 30px;
  display: block;
margin: 0 auto;
text-align: center;
}
.asasas__vvvv
{
  font-size: 30px;
  display: block;
margin: 0 auto;
text-align: center;
padding-bottom: 30px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  margin-left: 20px;
}

@media screen and (max-width: 980px){
  .contact-page{
   flex: 100%;
   margin-right: 40px;
  }

  .contact-form {
    padding-right: 40px;
    padding-left: 20px;

  }

  textarea {
    font-size: 5.2vw;
  }

  .textb {
    height: 100px;
    font-size: 5vw;
  }

  form button {
    width: 300px;
    height: 100px;
    font-size: 4vw;
  }

  .contact-info {
    display: none;
  }
  h2{
    font-size: 40px;
    margin-bottom: 40px;
  }

  .contact-info, .contact-form{
    flex: 100%;
    margin-bottom: 30px;
    
  }
  .textb{
    width: 100%;
  }

  .delivery1, .delivery2, .delivery_end {
    flex: 100%;
    font-size: 2vw;
  }

  .block-left {
    display: none;
  }

  .block-right {
    width: 60%;
    margin: 0 auto;
  }

  .header.new {
    display: none;
    
}

.header__logo {
    display: none;
}

.nav {
    flex-direction: column;
    display: none;
}

  .nav.active {
    font-size: 3vw;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 35vw;
    transition: top 0.3s ease; /* Добавляем анимацию для плавного изменения top */
    background-color: #fff; /* Задаем цвет фона шапки */
    z-index: 100; /* Устанавливаем высокий z-index, чтобы шапка находилась поверх других элементов */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    background-color: #ef7d1a;
    
}


.nav__link {
    display: block;
    margin: 0;
    padding: 8px 20px;
}

.nav-toggle {
    display: block;
}

.menu-toggle {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 100px;
    transition: top 0.3s ease; /* Добавляем анимацию для плавного изменения top */
    margin-right: 10px;
    z-index: 1001; /* Устанавливаем высокий z-index, чтобы шапка находилась поверх других элементов */
}
}