body {
     /*Отступ*/
    margin:0;
     /*Шрифт*/
     font-family: 'Montserrat', sans-serif;
     /*Размер текста*/
    font-size: 15px;
    /*Межстрочный отстсуп*/
    line-height: 1.6;
    color: #333;
    
}


*,
*:before
*:after 

{
 /*Размер блока*/
box-sizing: border-box;
}
 /*Всем заголовкам задает margin 0*/
h1, h2, h3, h4, h5, h6
{
  margin: 0;
}

/*контейнер*/
.container 
{
     /*Ширина*/
   width: 100%;
   max-width: 1200px;
    /*Выравнивает по центру*/
   margin: 0 auto;
}

/*Первый*/
.first
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
     /*Высота*/
    height : 100vh;
     /*Вставляет фото по центру и без повторений*/
    background: url("../Zaliczenie/images/11.jpg")
     center
     no-repeat;
      /*Занимает всю площадь экрана*/
     background-size: cover;
}

.first__inner
{
  width: 100%;
  max-width: 1000px;
  /*Выравнивает по центру*/
  margin: 0 auto;
  text-align: center;
}

.first__title
{
  font-size: 70px;
  font-weight: 700;

  background-color: rgb(88, 40, 0);
  /*Прозрачность фона*/
  opacity: 0.7;
  margin-bottom: 80px;
  padding-bottom: 37px;
  padding-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
   
  text-align: center;

  line-height: 1;

  color: #fff ;
  
}

 /*Вставляет псевдо элемент*/
.first__title:after
{
     /*Полосочка*/
  content:"";
  width: 60px;
  height: 3px;

  background-color: #fff;
  /*Выравнивает по центру с отступами слева и справа*/
  margin: 60px auto 80px ;
}

.first__subtitle
{
    margin-bottom: 20px;
    font-size: 30px;
    color: #fff;
    /*Выравнивает текст по центру*/
    text-align: center;
    
}

/* Класс для шапки*/
.header
{
    width: 100%;
    /*Делает эллемент невидимым для других эллементов*/
    position: absolute;
    /*Координаты обьекта*/
    top: 0;
    left: 0;
    right: 0;
    /*Переносит обьект поверх всего*/
    z-index: 1000;
}
/* Растягивает эллементы по всей странице
лого слева а кнопки справа*/
.header__inner
{
    /* Добавляет границу отступа вокруг элемента(сверху)*/
    padding-top: 30px;
    /* Дает эллементам гибкость*/
    display: flex;
    /* Определяет пространство между и вокруг эллементов*/
    justify-content: space-between;
    /* Выравнивает как justify но сверху и снизу*/
    align-items: center;
}

/* Класс для лого*/
.header__logo
{
    font-size: 30px;
    /* Насыщенность шрифта*/
    font-weight: 700;
    color: #fff;
}
/* Класс для навигации*/
.nav
{
    font-size: 14px;
    /* Шрифт capslock*/
    text-transform: uppercase;
}
/* Класс для кнопок навигации*/
.nav__link 
{
    /* Назначает свойства дисплею*/
    display: inline-block;
    /* Вертикально выравнивает элементы внутри класса*/
    vertical-align: top;
    /* отступ между эллементами*/
    margin: 0 15px;
    /* Положение эллемента устанавливается в зависимости
    от исходного места*/
    position: relative;
   color: #fff;
   /* Убирает подчеркивание ссылок */
   text-decoration: none;
   /* Длительность подсвечивания иконок*/
   transition: color  .1s linear;
}
/* класс при наводе мышкой на навигацию*/
.nav__link::after
{
  /* Генерирует содержимое*/
  content: "";
  /* Делает элемент блочным (увеличивает зону рааботы 
  навода ссылки*/
  display: block;
  width: 100%;
  height: 3px;
  /*Убирает автоматическое подсвечивание полос под кнопками*/
  display: none;

  background-color: #fce38a;
   /*элемент не виден для других*/
  position: absolute;
  top: 100%;
  left: 0;
  /*Устанавливет слой обьекта*/
  z-index: 1;
  /*Плавный переход*/
  transition: opacity .1s linear;


}
/* Добававляет изменение цвета при наведении на кнопку*/
.nav__link:hover
{
color: #fce38a
}
.nav__link:hover:after
{
    display: block;
}
.button
{
    display: inline-block;
    /* Выравнивает по вертикали*/
    vertical-align: top;
    padding: 8px 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border: 3px solid #fff;
    /* Капс лок шрифт*/
    text-transform: uppercase;
    text-decoration: none;
    /*Плавный переход*/
    transition: color .1s linear;
}
.button:hover
{
    background-color: #fff;
    color: #333;
}

.section
{
    padding: 80px 0px;
}

.section__header
{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    margin-bottom: 40px ;
}

.section__subtitle
{
    font-family: 'Kaushan Script', sans-serif,
    cursive;
    font-size: 24px;
    color: #333;
    text-align: center;
}
.section__title
{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #333;
    text-align: center;
    text-transform: uppercase;
}
.section__text
{
    
color: #999;
font-size: 15px;

}

.section__title:after
{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 25px auto 0px;

    background-color: #f38181;
}    

.about
{

  display: flex;
  justify-content: space-between;
  

}


.about__item
{
    width: 380px;
}
.about__img
{
    background: linear-gradient(to bottom, #272727, #666666);
    transition: transform .1s linear;
}
.about__item:hover .about__img
{
    transform: translate3d(-10px, -10px, 0px);
}

.about__item:hover .about__img img 
{
    opacity: .7;
}
.about__img img
{
    display: block;
    transition: opacity .1s linear;
}

.about__text
{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.section::after
{
    content: "";
    display: block;
    width: 950px;
    height: 3px;
    margin: 25px auto 0px;

    background-color: #f38181;
    
}
.fff
{
    text-align: center;
    
}
.asasas
{
    font-size: 30px;
    display: block;
  margin: 0 auto;
  text-align: center;
}
.asasas__vvvv
{
    font-size: 30px;
    display: block;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}