
section {
    display: flex;
    width: 800px;
    justify-content: space-between;
}



.button1 {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    background-color: red;
    
}

.button2 {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    background-color: blue;
}


.button {
    width: 100px;
    margin-left: 375px;
    padding: 5px;
}

