body {
    /*Отступ*/
   margin:0;
    /*Шрифт*/
    font-family: 'Montserrat', sans-serif;
    /*Размер текста*/
   font-size: 15px;
   /*Межстрочный отстсуп*/
   line-height: 1.6;
   color: rgb(0, 0, 0);
   
}
html
{
 scroll-behavior: smooth;
}

*,
*:before
*:after 

{
 /*Размер блока*/
box-sizing: border-box;
}
 /*Всем заголовкам задает margin 0*/
h1, h2, h3, h4, h5, h6
{
  margin: 0;
}
/*контейнер*/
.container 
{
     /*Ширина*/
   width: 100%;
   max-width: 1200px;
    /*Выравнивает по центру*/
   margin: 0 auto;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.3s ease; /* Добавляем анимацию для плавного изменения top */
    background-color: #fff; /* Задаем цвет фона шапки */
    z-index: 1000; /* Устанавливаем высокий z-index, чтобы шапка находилась поверх других элементов */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    width: 100%;
    background-color: #ef7d1a;
}
/* Растягивает эллементы по всей странице
лого слева а кнопки справа*/
.header__inner
{
    /* Добавляет границу отступа вокруг элемента(сверху)*/
    padding-top: 5px;
    padding-bottom: 5px;
    /* Дает эллементам гибкость*/
    display: flex;
    /* Определяет пространство между и вокруг эллементов*/
    justify-content: space-between;
    /* Выравнивает как justify но сверху и снизу*/
    align-items: center;
}

/* Класс для лого*/
.header__logo
{
    text-decoration: none;
    font-size: 30px;
    /* Насыщенность шрифта*/
    font-weight: 900;
    color: #fff;
}
/* Класс для навигации*/
.nav
{
    font-size: 14px;
    /* Шрифт capslock*/
    text-transform: uppercase;
    font-weight: 900;
}
/* Класс для кнопок навигации*/
.nav__link 
{
    /* Назначает свойства дисплею*/
    display: inline-block;
    /* Вертикально выравнивает элементы внутри класса*/
    vertical-align: top;
    /* отступ между эллементами*/
    margin: 0 15px;
    /* Положение эллемента устанавливается в зависимости
    от исходного места*/
    position: relative;
   color: #fff;
   /* Убирает подчеркивание ссылок */
   text-decoration: none;
   /* Длительность подсвечивания иконок*/
   transition: color  .1s linear;
}
/* класс при наводе мышкой на навигацию*/
.nav__link::after
{
  /* Генерирует содержимое*/
  content: "";
  /* Делает элемент блочным (увеличивает зону рааботы 
  навода ссылки*/
  display: block;
  width: 100%;
  height: 3px;
  /*Убирает автоматическое подсвечивание полос под кнопками*/
  display: none;

  background-color: #fce38a;
   /*элемент не виден для других*/
  position: absolute;
  top: 100%;
  left: 0;
  /*Устанавливет слой обьекта*/
  z-index: 1;
  /*Плавный переход*/
  transition: opacity .1s linear;


}
/* Добававляет изменение цвета при наведении на кнопку*/
.nav__link:hover
{
color: #fce38a;
}
.nav__link:hover:after
{
    display: block;
}
.section
{
    padding: 80px 0px;
    background-color:rgb(245, 239, 220);
}

.section__header
{
    width: 100%;
    /*Ширина*/
    max-width: 1200px;
    /*Выравнивает по центру*/
    margin: 0 auto;
    margin-bottom: 40px ;
}


.section__title
{
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    /*Толщина текста*/
    font-weight: 600;
    color: #333;
    text-align: center;
    /*Капс*/
    text-transform: uppercase;
}
.section__text
{
    
color: rgb(58, 58, 58);
font-size: 20px;

}
table
{
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}

img {
    border-radius: 5px;
}

.table__img
{
    vertical-align: top;
    padding-top: 30px;
}
.table__pipka
{
    text-transform: uppercase;
    font-weight: 700;
}
.table1
{
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 150px 0;
}
.table__td
{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    padding-top: 20px;
    
}
.table__td1
{
    text-transform: uppercase;
    font-weight: 700;
    color:#ef7d1a;
    font-size: 25px;
}
.fff
{
    text-align: center;
    
}
.asasas
{
    font-size: 30px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.asasas__vvvv
{
    font-size: 30px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}
.fff::before
{
       content: "";
       display: block;
       width: 950px;
       height: 3px;
       margin: 25px auto 0px;
   
       background-color: #f38181;
      margin-bottom: 50px;
       
}  
.ss
{
    font-size: 20px;
    
    
}

.table1 {
    display: none;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    margin-left: 20px;
}


@media (max-width: 1200px) {

.asasas{
    font-size: 50px;   
}
.asasas__vvvv
{
    font-size: 50px;
}

.header.new {
    display: none;
    
}

.header__logo {
    display: none;
}

.nav {
    flex-direction: column;
    display: none;
}

  .nav.active {
    font-size: 3vw;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 35vw;
    transition: top 0.3s ease; /* Добавляем анимацию для плавного изменения top */
    background-color: #fff; /* Задаем цвет фона шапки */
    z-index: 100; /* Устанавливаем высокий z-index, чтобы шапка находилась поверх других элементов */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    background-color: #ef7d1a;
    
}


.nav__link {
    display: block;
    margin: 0;
    padding: 8px 20px;
}

.nav-toggle {
    display: block;
}

.menu-toggle {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 120px;
    transition: top 0.3s ease; /* Добавляем анимацию для плавного изменения top */
    margin-right: 10px;
    z-index: 1001; /* Устанавливаем высокий z-index, чтобы шапка находилась поверх других элементов */
}


}